body {
	color : #7FFFD4;
	background-color: #008B8B;
	font-family: "Arial" ,"Apple Garamond" , "Ubuntu";
	font-size: 14px;

}

p { 
	text-align: justify;
}

a{	
	color : inherit;
	text-decoration: none;
}

video{
	width:50%;
}
img{
	padding:5%;
	max-width:50%;
	max-height:50%;
}
/*change anchor when click visited*/
/* a , a:visited , a:hover*/
a:visited {
	text-decoration: none;
	color:currentColor;
}
/*change color when click*/

a:hover {
	color:yellow;
}
figure{
	width:100%;	
	text-align: center;
	margin:0;
	padding:0;

}
figcaption{
	text-align: center;
}
