body {
	color : #7FFFD4;
	background-color: #008B8B;
	font-family: "Arial" ,"Apple Garamond" , "Ubuntu";
	font-size: 14px 12;

}
p { 
	text-align: justify;
}

video{
	width:500px;
}
img{
	width: 250px;
	height: 200px;
}
/*change anchor when click visited*/
/* a , a:visited , a:hover*/
a, a:visited {
	text-decoration: none;
}
/*change color when click*/
a {
	color : inherit;
}

a:visited {
	color:currentColor;
}

a:hover {
	color:yellow;
}