div > p {
	font-style: italic;
}


div.people{
	overflow: auto;
	background-color:#009999;
	border:2px solid currentcolor;
	box-shadow: black;
	border-style: ridge;
}
div.name{
	width:25%;
	float:left;
}
div.biography{
	width:75%;
	float:left;
	margin:0;
	padding:0;

}

@media screen and (min-width:400px){
	#img-hcm{
		content:url("../image/hochiminhfix.jpeg");
	}
	#img-jeffseid{
		content:url("../image/jeffseidfix.jpg");
	}
	#img-pewpew{
		content:url("../image/pewpewfix.jpg");
	}
	#img-dxchinh{
		content:url("../image/dxchinhfix.jpg");
	}
}
