table {
	/*thickness of boder */
	/*border : kich thuoc kiểu màu*/
	background-color: #CD5C5C;
}
td , th{
	/*arrange on clock role*/
	/*khoang cach tu table den nội dung ở trong*/
	padding: 1px;
    text-align: center;
	/*Khoang cach từ table ra goai */
	margin : 1px ;
}
thead{
	background-color: #F08080;
}
tbody{
	background-color: #FFF0F5;
}